@use '../../base/index' as *;
@use '../../abstracts//index' as *;

.resend__button {
    @include font-size-body;
    text-decoration: underline;
    scale: 1.05;
    font-weight: 500;
    color: $secondary-color;
    margin: 30px 0 0 0;
    letter-spacing: 0.25px;
    rotate: 40;
    transition: transform 6s ease-in;
    transform-origin: center;
} 


