@use '../../abstracts/index' as *;
@use '../../base/index' as *;

.otp__form {
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

    .upper__body {
        @include flex-column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;

        p {
            margin: 0;
            padding: 0;
        }

        h3 {
            @include font-size-h3;
            margin-top: 1.5rem;
        }
    }

    .resetPwd__icon {
        padding: 12px;
        border-radius: 10px;
        border: 2px dashed rgba(128, 128, 128, 0.3);
        margin-bottom: 1rem;
    }

    .inner__otp__container {
        min-width: 200px;
        max-width: 500px ;

        .otp__container {
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        .error__text {
            color: red;
            text-align: center;
            margin-top: 8px;
        }
    }


    .additional__info {
        padding: 10px 5vw;
        color: $accent-color;
        opacity: 70%;
        margin-top: 20px;
        text-align: center;
    }
}
