/**
 * FLEXBOX MIXINS
 */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/**
 * FONT SIZE MIXINS
 */

@mixin font-size-h1 {
 font-size: clamp(1.5rem, 0.5217rem + 4.3478vw, 4rem); // maks 64px
 font-weight: bold;
}

@mixin font-size-h2 {
  font-size: clamp(1.25rem, 0.7609rem + 2.1739vw, 2rem); // maks 40px
  font-weight: medium;
}

@mixin font-size-h3 {
  font-size: clamp(1.125rem, 0.8804rem + 1.087vw, 1.75rem); // maks 28px
  font-weight: medium;
}

@mixin font-size-body {
  font-size: clamp(0.875rem, 0.8261rem + 0.2174vw, 1rem); // maks 16px
  font-weight: normal;
}

@mixin font-size-caption {
  font-size: 0.75rem; // maks 12px
  font-weight: normal;
}

@mixin font-size-information {
  font-size: 0.875rem; // maks 14px
  font-weight: normal;
}

@mixin font-size-button {
  font-size: clamp(0.875rem, 0.8261rem + 0.2174vw, 1rem); // maks 16px
  font-weight: medium;
}
