// For color, font-size, and other variables

// color variables
$primary-color: #F0E7D5; // vanilla cream
$secondary-color: #212842; // midnight indigo
$accent-color: #383838; // for buttons, links, and highlights

// base font
$font-family-poppins: var(--font-poppins), serif;
$font-family-lora: var(--font-lora), monospace;


$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;


