// For color, font-size, and other variables

$primary-color: #0f0000;
$secondary-color: #ededed;
$accent-color: #5d0f0e;

$font-body: 'Crimson Pro', serif;
$font-heading: var(--font-dm-sans), sans-serif;
$font-merri: var(--font-merriweather), serif;
$font-mono: var(--font-roboto), monospace;



$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;