// Global styles
@use '../abstracts/index' as *;

html {
  scroll-behavior: auto !important;
  background-color: $primary-color;
}
body {
  width: 100vw;
}

button, a {
  cursor: pointer;
  background: none;
  border: none;
}

